<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <title>Jogo de Adivinhar</title>
    </h:head>
    <h:body>
        <div class="container">
            <h:form>
                <label class="control-label"> <h4>Clique aqui para gerar o número</h4> </label>
                <div>
                    <h:commandButton class="btn btn-primary" value="Gerar" action="#{adivinharNumeroMB.geraNumero()}" />
                </div>
                #{adivinharNumeroMB.numeroRandon}
            </h:form>
            <h:form>
                <div class="form-group">
                    <label class="control-label"> Insira um número: </label>
                    <h:inputText class="form form-group" value="#{adivinharNumeroMB.numero}"/>
                    <h:commandButton class="btn btn-success" value="OK" action="#{adivinharNumeroMB.verificar()}"/>
                </div>
                <br/>
                #{adivinharNumeroMB.msg}
                <h:panelGroup rendered="#{adivinharNumeroMB.numeroRandon == adivinharNumeroMB.numero}">
                    <label class="control-label"> O número gerado foi: </label> #{adivinharNumeroMB.numeroRandon}
                </h:panelGroup>
            </h:form>
        </div>
    </h:body>
</html>

