<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Minhas Tarefas</title>

        <!-- Carregando o CSS do Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />		
        <!-- jQuery (plugins em JavaScript) -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- componentes JavaScript do bootstrap -->	
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <h:form>
            <div class="container">
                <div class="page-header">
                    <h3>Tarefas</h3>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label class="control-label">Código </label>
                    </div>
                    <div class="col-md-1">
                        <h:inputText class="input-sm" value="#{tarefaMB.tarefa.codigo}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label class="control-label">Descrição </label>
                    </div>
                    <div class="col-md-3">
                        <h:inputText class="input-sm" value="#{tarefaMB.tarefa.descricao}" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <h:commandButton class="btn btn-success" value="Salvar" action="#{tarefaMB.salvar()}" />
                    </div>
                    <div class="col-md-1">
                        <h:commandButton class="btn btn-danger" value="Excluir" action="#{tarefaMB.excluir()}" />
                    </div>
                </div>

                <h:dataTable class="table table-striped" value="#{tarefaMB.lista}" var="t" >
                    <h:column>
                        <f:facet name="header">Código</f:facet>
                        <h:commandLink action="#{tarefaMB.setTarefa(t)}" >
                            #{t.codigo}
                        </h:commandLink>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Descrição</f:facet>
                        <h:commandLink action="#{tarefaMB.setTarefa(t)}" >
                            #{t.descricao}
                        </h:commandLink>
                    </h:column>
                </h:dataTable>
            </div>
        </h:form>
    </h:body>
</html>

