<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Conversor</title>

        <!-- Carregando o CSS do Bootstrap -->
        <link href="/exercconversor/css/bootstrap.min.css" rel="stylesheet" media="screen" />		
        <!-- jQuery (plugins em JavaScript) -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- componentes JavaScript do bootstrap -->	
        <script type="text/javascript" src="/exercconversor/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <div class="container">
            <div class="page-header">
                <h3>Conversor</h3>
            </div>
            <h:form>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Entre com um número de CPF:</label>
                    </div>
                    <div class="col-md-2">
                        <h:inputText class="input-sm" value="#{conversorMB.cpfNaoFormatado}" converter="cpfConverter"/>
                    </div>
                    <div class="col-md-1">
                        <h:commandButton class="btn btn-primary" value="Formatar"/>
                    </div>
                </div>
            </h:form>
            <hr/>
            <h:form>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Entre com um número de CNPJ:</label>
                    </div>
                    <div class="col-md-2">
                        <h:inputText class="input-sm" value="#{conversorMB.cnpjNaoFormatado}" converter="cnpjConverter"/>
                    </div>
                    <div class="col-md-1">
                        <h:commandButton class="btn btn-primary" value="Formatar" />
                    </div>
                </div>
            </h:form>
        </div>
    </h:body>
</html>

